menu "Project Configuration"

config WIFI_SSID
    string "Example SSID"
    default "SkyNet"
    
config WIFI_PASSWORD
    string "Example Password"
    default "Summer2303"
    
config MQTT_BROKER
	string "Example Broker"
	default "mqtts://cc59cf4677594320a95be6e0075e943b.s1.eu.hivemq.cloud:8883"

config MQTT_COMMAND_TOPIC
	string "Example Command Topic"
	default "org/sdu/2024/iot/my/name/command"

config MQTT_RESPONSE_TOPIC
	string "Example Response Topic"
	default "org/sdu/2024/iot/my/name/response"

endmenu